:root {
  /* Colors */
  --primary-color: #D4AF37; 
  --background-dark: #121212;
  --background-header-footer: #000000;
  --text-color-light: #F5F5F5; 
  --success-color: #2D6A4F;
  --danger-color: #7B241C;
  --secondary-color: #444444; 
 
  /* Fonts */
  --main-font: "Poppins", "Roboto", sans-serif; 
  --font-size-base: 14px;
  --font-size-large: 20px;
 
  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
 
  /* Border Radius */
  --border-radius-base: 25px;
}

html {
  background-color: var(--background-dark);
  font-family: var(--main-font);
  color: var(--text-color-light);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}